hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

/* ------------------- My changes -------------- */
/* post & research title sizes */
.posts-list a,
.research-list a {
  font-size: 1.2rem; /* Adjust the size as desired */
  text-decoration: none; /* Optional: Remove underline from links */
}

/*'Posts' and 'Research' size */
h1, h2, h3, h4, h5, h6,
h1, h2, h3, h4, h5, h6,
.section-title,
.site-title {
  font-family: "Times New Roman", Times, serif;
}

.section-title {
  font-size: 1.8rem; /* Adjust the size as desired */
  margin-top: 1em; /* Optional: adds space above headings */
}

body {
  background-color: #fce5cd;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* Set font-family of headings to Times New Roman */
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
}

.site-header {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

  .site-title {
    background-color: transparent;
    background-image: none;
}